


button{
    flex-wrap:nowrap;
    display: flexbox;
} 

button{
  border: none;
  background: #a97467;
  background-color: aqua;
  color: rgb(215, 200, 200);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 
  size: 5px;
}


h1,p{
/* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
color: rgb(234, 158, 238);
font-family: 'Times New Roman', Times, serif;
}
body{
    background-color:blue;
}

textarea{
    border-radius: 100px;
    border-color:chartreuse ;
}

.mybox{
    border-radius: 70px;
}